<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html 
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<!--默认使用Google Chrome Frame(谷歌内嵌浏览器框架GCF)渲染,如果没安装GCF,则使用IE最高版本内核渲染页面 -->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<!-- viewport是用户网页的可视区域  initial-scale：初始缩放比例  shrink-to-fit=no 支持IOS9 -->
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--浏览器内核控制Meta标签 webkit页面需默认用极速核-->
		<meta name="renderer" content="webkit">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="keywords" content="共享房源App">
		<meta name="description" content="共享房源App">
		<meta name="author" content="星云">

		<title>共享房源App</title>
		<link rel="shortcut icon" href="static/custom/img/favicon.ico" th:href="@{static/custom/img/favicon.ico}">
		<link rel="icon" sizes="32x32" href="static/custom/img/favicon.ico" th:href="@{static/custom/img/favicon.ico}">
		<link rel="Bookmark" href="static/custom/img/favicon.ico" th:href="@{static/custom/img/favicon.ico}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="static/bootstrap-4.0.0-dist/css/bootstrap.min.css"th:href="@{static/bootstrap-4.0.0-dist/css/bootstrap.min.css}" />
		<!-- Index CSS -->
		<link rel="stylesheet" href="static/custom/css/index.css" th:href="@{static/custom/css/index.css}"/>

		<!-- 兼容IE8 -->
		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
	      <script src="static/compatibility/js/html5shiv/3.7.3/html5shiv.min.js"></script> 
	      <script src="static/compatibility/js/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

	</head>

	<body style="background-image:url(static/custom/img/bg.jpg)">

		<div class="container">
			<!-- Content here -->
			 <!-- <p th:text="#{home.welcome}">Welcome to BBS!</p> -->
			 <br/>
			 <pre>
				     致力于开发一个免费无中介直租共享房源平台App项目~
				
				     开发进行中...
				   
				     想加入开发 ,请发送email到fairy_xingyun@hotmail.com
			 </pre>
		
		</div>



	

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="static/bootstrap_support/js/jquery/3.1.2/jquery.slim.min.js" th:src="@{static/bootstrap_support/js/jquery/3.1.2/jquery.slim.min.js}"></script>
		<script src="static/bootstrap_support/js/popper.js/1.12.9/umd/popper.min.js" th:src="@{static/bootstrap_support/js/popper.js/1.12.9/umd/popper.min.js}"></script>
		<script src="static/bootstrap-4.0.0-dist/js/bootstrap.min.js" th:src="@{static/bootstrap-4.0.0-dist/js/bootstrap.min.js}"></script>
	</body>

</html>